---
import '../styles/globals.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/quote" />
    <script>window.location.replace('/quote');</script>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Zen Typer</title>
  </head>
  <body>
    <noscript>
      <a href="/quote" class="text-iris">Continue to Quote Mode</a>
    </noscript>
  </body>
</html>
